<p>
  <label for="podcast_number">Number:</label>
  <%= f.text_field :number %>
</p>
<p>
  <label for="podcast_title">Title:</label>
  <%= f.text_field :title %>
</p>
<p>
  <label for="podcast_description">Description:</label>
  <%= f.text_area :description %>
</p>
<p>
  <label for="podcast_author">Author:</label>
  <%= f.text_field :author %>
</p>
<p>
  <label for="podcast_tags">Tags:</label>
  <%= f.text_field :tags %>
</p>
<p>
  <label for="podcast_recorded_on">Recorded on:</label>
  <%= f.date_select :recorded_on %>
</p>
<p>
  <label for="podcast_content">Content:</label>
  <%= f.text_area :content %>
</p>
<p>
  <label for="podcast_permalink">Permalink:</label>
  <%= f.text_field :permalink %>
</p>
<p>
  <label for="podcast_file_prefix">File prefix:</label>
  <%= f.text_field :file_prefix %>
</p>
