<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
	<title><%=page_title @title%></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="<%=@keywords%>"/>
	<meta name="description" content="<%=@description%>"/>
	<meta http-equiv="content-Language" content="pt-BR"/>
	<meta name="verify-v1" content="vHdFFEns21nKQBwfT53uAT8qYMOyJwItHhj7CNNJ7kM=" />
	<meta name="copyright" content="&copy; 2008" />
	<meta name="author" content="Marcos Tapajós" />
	<meta name="distribution" content="Global" />
	<meta name="rating" content="general" />
	<meta name="robots" content="all" />

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
	<%= auto_discovery_link_tag(:rss, {:controller=> "rss"}, {:title=>"RSS Podcast"})%>
    
  </head>
  <body>
    <a href="/"><h1 id="masthead">Ruby on Rails Podcast</h1></a>
  
    <div id="content">
	<%= yield %>
    </div>
    
    <div id="footer">
	Aqui entra um rodapé.
    </div>    

  </body>
</html>